<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1502819126416-d387f86d47a1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=09f8419d4dfe16155bb399f0e7ea2069&auto=format&fit=crop&w=800&q=60');">
  <div class="banner-content">
    <h1>Shaker</h1>
   <!--  <p>Learn to code with us in Berlin</p>
    <a class="btn btn-primary btn-lg">Start now</a> -->
<%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>
<br>

<div class="container">
  <div class="row">

    <% @cocktails.each do | cocktail | %>
    <div class="col-xs-12 col-sm-6 col-md-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cocktail.photo.url.nil? ? 'https://nit.pt/wp-content/uploads/2018/03/1f6c1db74d7639574e4a6b6abe9c4f8f.jpg' : cl_image_path(cocktail.photo) %>);">
<!--         <div class="card-category">Popular</div>
 -->        <div class="card-description">
              <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<!--           <p>Very cool city, the best</p>
 -->        </div>
      <!--     <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      -->    <!-- <a class="card-link" href="#" ></a> -->
    </div>
      <br class="add-margin">
<!--     <p><%= link_to "Edit", edit_cocktail_path(cocktail) %> |<%= link_to "Delete", cocktail_path(cocktail), method: :delete %> </p>
-->  </div>

<% end %>
</div>
<br>
</div>

